<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>太陽光電場查詢系統</title>
  {{!-- 導入資源 --}}
  {{!-- 導入 bootstrap --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  {{!-- 載入字體 --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+TC:wght@400;500;700&display=swap">


  {{!-- 導入本地資源 --}}
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {{!-- Layouts --}}
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        {{!-- LOGO --}}
        <a href="/" class="navbar-brand">
          <img src="/images/logo/logo-photo-1.png" alt="太陽光電場查詢系統" class="d-inline-block align-top" width="30" height="30"
            alt="太陽光電場查詢系統">
          <span class="navbar-brand-text">太陽光電場查詢系統</span>
        </a>

        {{!-- 搜尋列 --}}
        <div class="search-bar">
          <div class="search-bar-inner">
            <form action="/search" id="search-form">
              <div class="input-group">
                <input type="text" id="search-input" class="form-control" name="keyword" value="" placeholder="輸入案場名稱、地區"
                  aria-label="Movie Name">
                <div class="input-group-append">
                  <button id="search-button" class="btn btn-major" type="submit">
                    搜尋
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="banner background-image"></div>


  {{!-- Partial templates --}}
  {{{body}}}

  {{!-- 撰寫註腳 --}}
  <footer>
    <p>太陽光電案場清單 &copy; 2023</p>
  </footer>


  {{!-- 導入資源 --}}
  {{!-- 導入 bootstrap --}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

  {{!-- 導入 font awesome 資源 --}}
  <script src="https://kit.fontawesome.com/7f5b494958.js" crossorigin="anonymous"></script>
</body>
</html>